<html>
<head><title>settings</title>
<style>

body {
  margin: auto;
  width: max-content;
}

[type="text"], [type="password"] {
  padding: .5em;
  border-radius: 4px;
  border: solid 2px #d8d8d8;
  outline: none;
  width: 100%;
}

[type="text"]:focus, [type="password"]:focus {
  border-color: #000;
}

details {
  padding: .5em;
  margin: .2em;
}

:not(details) > label {
  margin: .5em 0;
  display: block;
}

form {
  width: 400px;
  max-width: 100%;
  margin: 0;
}

[type="submit"] {
  padding: .8em 1em;
  border-radius: 4px;
  border: none;
  display: block;
  cursor: pointer;
  margin: 1em 0;
}
</style>
</head>
<body>
  <form action="/settings" method="post">
    <h1>another nothing settings</h1>
    <label for="wp">Wallpaper (path)</label>
    <input name="wp" id="wp" type="text" value="<%= d[:wp] %>" required>
    <% JSON.parse(d[:apps]).each do |k, v| %>
    <details><summary><%= v["name"] %> (<%= k %>)</summary>
      <input style="display: none" type="checkbox" name="app_<%= k %>[]" value="app" checked>
      <% perm_list.each do |e| %>
        <% if v["perms"].include?(e) %>
          <input type="checkbox" name="app_<%= k %>[]" value="<%= e %>" id="<%= k %>_<%= e %>" checked>
        <% else %>
          <input type="checkbox" name="app_<%= k %>[]" value="<%= e %>" id="<%= k %>_<%= e %>">
        <% end %>
        <label for="<%= k %>_<%= e %>"><%= e %></label>
      <% end %>
    </details>
    <% end %>
    <hr />
    <label for="pass">Current password</label>
    <input type="password" id="pass" name="pass" required>
    <input type="submit" value="done">
  </form>
  <p>Page generated by server at <%= Time.now %></p>
</body>
</html>
