<html>
<head><title>another nothing settings</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  margin: auto;
  width: max-content;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 1em;
}

h2, p {
  margin: .2em 0;
}

.g {
  color: grey;
}

[type="text"], [type="password"] {
  padding: .5em;
  border-radius: 4px;
  border: solid 2px #d8d8d8;
  outline: none;
  width: 100%;
}

[type="text"]:focus, [type="password"]:focus {
  border-color: #000;
}

details {
  padding: .5em;
  margin: .2em;
}

label:not(.no) {
  margin: .5em 0;
  display: block;
}

form {
  width: 400px;
  max-width: 100%;
  margin: 0;
}

[type="submit"] {
  padding: .8em 1em;
  border-radius: 4px;
  border: none;
  display: block;
  cursor: pointer;
  margin: 1em 0;
}
</style>
</head>
<body>
  <form action="/settings" method="post">
    <h1>another nothing settings</h1>
    <hr />
    <h2>Basic stuff</h2>
    <label for="wp">Wallpaper (path)</label>
    <input name="wp" id="wp" type="text" value="<%= d[:wp] %>" required>
    <hr />
    <h2>Apps</h2>
    <% JSON.parse(d[:apps]).each do |k, v| %>
    <details><summary><%= v["name"] %> (<%= k %>)</summary>
      <input style="display: none" type="checkbox" name="app_<%= k %>[]" value="app" checked>
      <% perm_list.each do |e| %>
        <% if v["perms"].include?(e) %>
          <input type="checkbox" name="app_<%= k %>[]" value="<%= e %>" id="<%= k %>_<%= e %>" checked>
        <% else %>
          <input type="checkbox" name="app_<%= k %>[]" value="<%= e %>" id="<%= k %>_<%= e %>">
        <% end %>
        <label class="no" for="<%= k %>_<%= e %>"><%= e %></label>
      <% end %>
    </details>
    <% end %>
    <hr />
    <% if admin %>
      <h2>Users <i class="g">(uncheck to remove)</i></h2>
      <% users.each do |e| %>
        <% if e[:username] == d[:username] %>
          <input type="checkbox" name="users[]" value="<%= e[:username] %>" id="user_<%= e[:username] %>" checked disabled>
        <% else %>
          <input type="checkbox" name="users[]" value="<%= e[:username] %>" id="user_<%= e[:username] %>" checked>
        <% end %>
        <label class="no" for="user_<%= e[:username] %>"><%= e[:username] %><% if e[:admin] %> <i class="g">(admin)</i><% end %></label>
      <% end %>
      <hr />
    <% end %>
    <h2>Submit</h2>
    <label for="pass">Current password</label>
    <input type="password" id="pass" name="pass" required>
    <input type="submit" value="done">
  </form>
  <p class="g">The web client <i>should</i> receive changes in real-time</p>
  <p class="g">Page generated by server at <%= Time.now %></p>
</body>
</html>
