<html>
<head><title>settings</title></head>
<body>
  <form action="/settings" method="post">
    <h1>another nothing settings</h1>
    <label for="wp">Wallpaper (path)</label>
    <input name="wp" id="wp" type="text" value="<%= d[:wp] %>">
    <input type="submit" value="done">
  </form>
</body>
</html>
